<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="caminho_json" value="E:\PersistenciadeDados\alunos.json"/>
		<add key="conexao_sql" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Escola;Data Source=DANIELFSG992\sqlserver2019"/>
	</appSettings>
</configuration>